<ul class="c-pagination">
    <li v-if="boundaryLinks"  >
        <a :class="{ disabled: isNoPreviousOrDisabled }" class="c-pagination-link c-pagination-first" href @click="selectPage(1, $event)" :disabled="isNoPreviousOrDisabled" v-uib-tabindex-toggle="isNoPreviousOrDisabled">{{ getText('first') }}</a>
    </li>
    <li v-if="directionLinks" >
        <a :class="{ disabled: isNoPreviousOrDisabled }" class="c-pagination-link c-pagination-prev" href @click="selectPage(currentPage - 1, $event)" :disabled="isNoPreviousOrDisabled" v-uib-tabindex-toggle="isNoPreviousOrDisabled">{{ getText('previous') }}</a>
    </li>
    <li v-for="(page, index) in pages" :key="index">
        <a :class="{ active: page.active, disabled: disabled && !page.active }" class="c-pagination-link" href @click="selectPage(page.number, $event)" :disabled="disabled && !page.active" v-uib-tabindex-toggle="disabled && !page.active">{{ page.text }}</a>
    </li>
    <li v-if="directionLinks"">
        <a :class="{ disabled: isNoNextOrDisabled }" class="c-pagination-link c-pagination-next" href @click="selectPage(currentPage + 1, $event)" :disabled="isNoNextOrDisabled" v-uib-tabindex-toggle="isNoNextOrDisabled">{{ getText('next') }}</a>
    </li>
    <li v-if="boundaryLinks" >
        <a :class="{ disabled: isNoNextOrDisabled }" class="c-pagination-link c-pagination-last" href @click="selectPage(totalPages, $event)" :disabled="isNoNextOrDisabled" v-uib-tabindex-toggle="isNoNextOrDisabled">{{ getText('last') }}</a>
    </li>
</ul>